.section-container{
    display: flex;
    flex-direction: column;
    margin: 20px 300px 0px 300px;
    align-items: center;
    background-color: white;
}
.section-container-header{
    background-color: ghostwhite;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 60px;
    align-items: center;
}

.section-wrap{
    border: 1px solid black;
    padding-right:50px;
    width: 100%;
}
.section{
    display: flex;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.company-logo img{
    width:50px;
    height:50px;
}

.text{
    width: 100%;
    margin-left: 15px;
    
}

.role-location p{
    font-style: italic;
    color: seagreen;
}

.text::after{
    content: "";
    display: block;
    border-bottom: 1px solid #e6e9ec;
    margin-top: 16px;
}


@media only screen and (max-width: 992px) {
    .section-container{
        margin: 20px 20px 0px 20px;
    }
}


@media only screen and (max-width: 768px) {
    .section-container{
        margin: 20px 0px 0px 0px;
    }
}