.video-wrap{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.frame{
    margin-top:50px;
    width:65%;
    height:500px;
}