.row{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: dimgray;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 40px;
}

.row a{
  color: white;
}

.row h3{
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: Parkavenue, cursive;
}

.about{
  border:1px solid black
}
.contact{
  display: flex;
  flex-direction: column;
  
}



.contact div{
  display:flex;
  align-items: center;
  justify-content: start;
  margin-left: 80px;
}
.contact div p{
  margin: 0px 0px 0px 10px;
}

.col-md-4 p{
  font-size: medium;
  
}

.description p{
  padding: 0px 30px;
  align-items: start;
}

.icon{
  width: 25px;
  height:25px;
  cursor: pointer;
  margin:5px;
}

.icon:hover{
  color:blue;
}
