.container{
    background-color: transparent;
    display: flex;
    position: fixed;
    right: 20px;
    top: 126px;
    width: 50px;
    height: 50px;
   
}

.container-show{
    background-color:lightgoldenrodyellow;
    display: block;
    position: fixed;
    right: 20px;
    top: 126px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    justify-content: center;
}
.container-hidden{
    display: none;
}

.burger{
    width: 40px;
    height: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
.burger-hide{
    display:none;
}
.minimize{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.header-details{
    display:flex;
}
.cv-pic{
    width: 146px;
    padding: 5px;
}
.side-details li{
    font-size: small;
}
.side-details span, .bottom-details span{
    font-weight: bold;
}
.side-details ul{
    padding-block-start: 10px;
    padding-inline-start: 20px;
    margin-top: 27px;
}

  
.tip{
    visibility: hidden;
    width: 120px;
    background-color:#333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    width: 72px;
    height: 30px;
    z-index: 1;
    right:0px;
    top:-15px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tip .tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 9px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
.burger:hover + .tip {
    visibility: visible;
    opacity: 1;
}